# Add application configuration variables here, as shown below.

# required
DATABASE: "captain_dashboard_development"
DATABASE_USER: "postgres"
DATABASE_PASSWORD: "abcd"
DATABASE_HOST: "127.0.0.1"
DATABASE_PORT: "5432"
REDIS_HOST: "127.0.0.1"
REDIS_PORT: "6379"
REDIS_DATABASE: "1"
REDIS_NAMESPACE: "tds"

test:
  DATABASE: "captain_dashboard_test"
  REDIS_PORT: "6380"
