<%= content_for :title, "#{t('app.name')} - #{t('defaults.etcd')}" %>

<div class="col-xs-12">
  <div class="page-header">
    <h1 class="pull-left">
      <%= t('defaults.etcd') %>
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%- if @etcd_tree.empty? %>
        <p><%= t('views.etcd.index.empty') %></p>
      <%- else %>
        <pre>
          <%= JSON.pretty_generate(@etcd_tree, indent: '&nbsp;&nbsp;', space: '&nbsp;', object_nl: '<br>', array_nl: '<br>').html_safe %>
        </pre>
      <%- end %>
    </div>
  </div>
</div>
